[submodule "noelfver"]
	path = noelfver
	url = https://gitlab.com/PoroCYon/noelfver.git
[submodule "Section-Header-Stripper"]
	path = Section-Header-Stripper
	url = https://github.com/blackle/Section-Header-Stripper.git
[submodule "vondehi"]
	path = vondehi
	url = https://gitlab.com/PoroCYon/vondehi.git
[submodule "smol"]
	path = smol
	url = https://github.com/PoroCYon/smol.git
